.Recipe {
  flex: 1 1 100%;
  max-width: 100%;
  padding: 30px 1.5em;
  background-color: #f9f5f3;

  @media screen and (min-width: 1000px) {
    flex: 1 1 60%;
    max-width: 60%;
    min-height: 600px;
  }

  h3 {
    font-size: 1.3em;

    @media screen and (min-width: 768px) {
      font-size: 1.55em;
      margin-bottom: 40px;
    }
  }
}
